section.blog-list {
  div.content article {
    margin-bottom: 2em;
  }

  ul {
    padding: 0.4em 1em;
    list-style: none;
    padding: 0;

    li {
      padding: 0.2em 0.5em;
      list-style: none;
      border-left: 4px solid var(--color);
      padding: 10px;

      a {
        padding: 1em 1.2em;
        display: block;

        span.modifiedDate {
          display: block;
          font-size: 0.6em;
        }
      }

      &:hover {
        background-color: var(--light-gray);
      }
    }
  }
}
