section.blog-post {
  div.blogpost-user {
    display: flex;
    padding: 1em 0;
    gap: 1em;
    align-items: center;

    img {
      width: 3em;
      height: 100%;
      border-radius: 50%;
    }

    p {
      font-size: 0.8em;
      margin: 0;
    }
  }

  aside {
    height: fit-content;
    min-width: 12em;
    position: sticky;
    align-self: flex-start;
    top: 2em;

    div {
      margin: 0 0 2em 0;
    }

    p {
      text-transform: uppercase;
      font-weight: 200;
    }

    ol,
    ul {
      padding: 0.4em 1em 0.4em 0;
      border-left: 2px solid var(--light-gray);

      li {
        padding: 0.2em 0.5em 0.2em 1.5em;
        list-style: none;
        border-left: 2px solid transparent;

        a {
          padding: 0;
          display: flex;
          gap: 10px;

          svg {
            width: 1em;
          }
        }

        &:hover,
        &.active {
          border-left: 2px solid var(--light-color);
        }
      }
    }
  }

  code {
    div {
      padding: 0.1em 0.3em;
      &:before {
        content: attr(data-number);
        display: inline-block;
        width: 2em;
      }
      &:hover {
        background-color: var(--background-color);
      }
    }
  }
  ul li::before {
    content: url(../svg/chevrons-right.svg);
    vertical-align: middle;
    padding: 3px;
  }
}
