@use "variables";

section.blog-list {
  header {
    margin: 1rem 0 3rem 0;
  }

  div.content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 1em;

    aside {
      height: fit-content;
      min-width: 150px;
      position: sticky;
      align-self: flex-start;
      top: 2em;

      p {
        text-transform: uppercase;
        font-weight: 200;
      }

      ol {
        padding: 0.4em 1em;
        border-left: 2px solid hsla(0, 0%, 78%, 0.5);

        li {
          padding: 0.2em 0.5em;
          list-style: none;
        }
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin: 10px 0;
      background-color: variables.$gray;

      a {
        padding: 1em 1.2em;
        display: block;

        span.modifiedDate {
          display: block;
          font-size: 0.6em;
        }
      }
    }
  }
}
