@use 'variables';

section.archive {
    a, a:visited {
        color: variables.$dark-red;
    }
    h1::before {
        background-color: variables.$red;
    }
    mark::before {
        background-color: variables.$light-red;
    }
    form input:focus {
        border-left: 4px solid variables.$red;
    }
}
ul li.archive {
    border-right: 4px solid variables.$red;
    a {
        color: variables.$dark-red;
    }
}

section.area {
    a, a:visited {
        color: variables.$dark-purple;
    }
    h1::before {
        background-color: variables.$purple;
    }
    mark::before {
        background-color: variables.$light-purple;
    }
    form input:focus {
        border-left: 4px solid variables.$purple;
    }
}
ul li.area {
    border-left: 4px solid variables.$purple;
    a {
        color: variables.$dark-purple;
    }
}

section.projects {
    a, a:visited {
        color: variables.$dark-blue;
    }
    h1::before {
        background-color: variables.$blue;
    }
    mark::before {
        background-color: variables.$light-blue;
    }
    form input:focus {
        border-left: 4px solid variables.$blue;
    }
}
ul li.projects {
    border-left: 4px solid variables.$blue;
    a {
        color: variables.$dark-blue;
    }
}

section.resources {
    a, a:visited {
        color: variables.$dark-green;
    }
    h1::before {
        background-color: variables.$green;
    }
    mark::before {
        background-color: variables.$light-green;
    }
    form input:focus {
        border-left: 4px solid variables.$green;
    }
}
ul li.resources {
    border-left: 4px solid variables.$green;
    a {
        color: variables.$dark-green;
    }
}