@use "variables";

form {
  display: flex;
}

div.fieldset {
  display: flex;
  flex-direction: column;
  width: 100%;

  input {
    width: 100%;
    padding: 5px 10px;
    border: none;
    border-bottom: 2px solid variables.$black;

    &:focus {
      outline: none;
      border-left: 4px solid variables.$yellow;
    }
  }
}
