div#container {
  margin: 0 auto;
  width: min(1000px, 90%);
}

main {
  margin: 3em 0;
}

ul {
  list-style: none;
  padding: 0;

  li {
    margin: 10px 0;

    &::before {
      content: url(../svg/chevrons-right.svg);
      vertical-align: middle;
      padding: 3px;
    }
  }
}

div.breadcrumbs {
  font-size: 0.7em;
  text-transform: capitalize;
}

a.external:after {
  content: url(../svg/square-arrow-out-up-right.svg);
  display: inline-block;
}
