body {
  font-family: "nunito", serif;
  color: var(--black);
}

div#container {
  margin: 0 auto;
  width: min(1000px, 90%);
}

main {
  margin: 1em 0;
}

ul {
  list-style: none;
  padding: 0;

  li {
    margin: 10px 0;
  }
}

div.breadcrumbs {
  font-size: 0.7em;
  text-transform: capitalize;
}

a.external:after {
  content: url(../svg/square-arrow-out-up-right.svg);
  display: inline-block;
}
