@use 'variables';

section.navigation {
    grid-area: navigation;

    header {
        padding: 20px;

        nav {
            display: flex;
            gap: 10px;
            justify-content: center;
        }
    }
}