body {
  font-family: "nunito", serif;
  color: var(--black);
  word-break: break-all;
}

p {
  margin: 0.3rem 0 1rem;
}

h1 {
  font-size: 2em;
  font-family: "asul", "nunito", serif;
}
h2 {
  font-size: 1.5em;
  font-family: "asul", "nunito", serif;
}
h3 {
  font-size: 1.17em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: 0.83em;
}
h6 {
  font-size: 0.67em;
}

h1,
h2,
h3,
h4,
h5,
h6,
mark {
  position: relative;
  width: fit-content;
  text-transform: capitalize;
}

h1,
mark {
  &:before {
    content: "";
    background-color: var(--color);
    position: absolute;
    width: 100%;
    height: 1em;
    z-index: -1;
    margin: -0.2em;
  }
}

mark {
  background-color: transparent;
  position: relative;

  &:before {
    background-color: var(--light-color);
    bottom: 0;
    transform: translate(-2px, -8px);
  }
}

pre {
  border: 1px solid var(--gray);
  color: var(--black);
  border-radius: 2px;
  position: relative;
  direction: ltr;
  font-style: normal;
  min-width: 200px;
  padding: 1em;
  tab-size: 4;
  text-align: left;
  white-space: pre-wrap;

  &:after {
    content: attr(data-language);
    background-color: var(--light-color);
    color: var(--dark-color);
    position: absolute;
    font-size: 10px;
    line-height: 16px;
    padding: 0.2em 0.6em;
    right: 10px;
    top: -1px;
    white-space: nowrap;
  }
}

code {
  font-family: "firecode", "nunito", sans-serif;
  background: unset;
}

blockquote {
  position: relative;
  padding: 20px;
  border-left: 4px solid var(--color);
  background-color: var(--light-gray);

  p:first-child:before {
    content: url(../svg/quote.svg);
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
  }
}
