@font-face { 
    font-family: "asul";
    font-style: normal;
    src: 
        url(../fonts/Asul-Regular.ttf) format("truetype");
}

@font-face { 
    font-family: "asul-bold";
    font-style: "bold";
    src: 
        url(../fonts/Asul-Bold.ttf) format("truetype");
}

@font-face { 
    font-family: "nunito";
    src: 
        url(../fonts/NunitoSans.ttf) format("truetype");
}


$black: #24292f;
$gray: #eaeef2;

$blue: #5bc1d3;
$light-blue: #BCEDF6;
$dark-blue: #1B8EA3;

$red: #cd466a;
$light-red: #F19BB2;
$dark-red: #911033;

$yellow: #e3b734;
$light-yellow: #FFE187;
$dark-yellow: #987303;

$purple: #7655cf;
$light-purple: #BCA8EF;
$dark-purple: #3E13AF;

$green: #67b587;
$light-green: #C8EAD5;
$dark-green: #247E48;


$brown: #8d2710;
$light-brown: #D06951;
$dark-brown: #3E0C00;

