@font-face {
  font-family: "asul";
  font-style: normal;
  src: url(../fonts/Asul-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "asul-bold";
  font-style: "bold";
  src: url(../fonts/Asul-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "nunito";
  src: url(../fonts/NunitoSans.ttf) format("truetype");
}

:root {
  --black: #24292f;
  --gray: #eaeef2;
  --light-gray: #c4c4c4;

  --color: #e3b734;
  --light-color: #ffe187;
  --dark-color: #987303;

  --brown: #8d2710;
  --light-brown: #d06951;
  --dark-brown: #3e0c00;
}

.archive {
  --color: #cd466a;
  --light-color: #f19bb2;
  --dark-color: #911033;
}
.area {
  --color: #7655cf;
  --light-color: #bca8ef;
  --dark-color: #3e13af;
}
.projects {
  --color: #5bc1d3;
  --light-color: #bcedf6;
  --dark-color: #1b8ea3;
}
.resources {
  --color: #67b587;
  --light-color: #c8ead5;
  --dark-color: #247e48;
}

$small-breakpoint: 480px;
$medium-breakpoint: 768px;
$large-breakpoint: 1279px;
